*{
	margin: 15px;
	padding: 0;

}
@import url('https://fonts.googleapis.com/css?family=Khula');

html {
	margin: 0;
	padding: 5px;
	width: 100%;}

body {
	width: 100%;
	height: auto;
	color: white;
	background-color:#333;
	margin-top: 15px;
	padding: 5px;
	font-family: 'Khula', sans-serif;
	font-size: 10pt;
	color: white;}

div{
	width: 50%;
	height: 333px;
	margin-left: 15px;
	padding: 15px;
	background-color: #AC1032;
	color: #FFFFFF;
	font-family: 'Khula', sans-serif;
	font-size: 10pt;}
